body {
	background-size: cover;
	background-repeat: no-repeat;
}

p {
	font-size: 14pt;
	color: black;
}

.quote {
	color: #38373E;
	font-style: italic;
	font-weight: 600;
	margin: 200px;
	text-align: center;
	border-radius: 12px;
}

.header {
	float: center;
	color: #33ccff;
	font-size: 50pt;
	font-family: Book Antiqua;
	font-style: oblique;
	padding-top: 70px;	
}

.book {
/*	width: 350px;
	margin: 20px;
	margin-top: 25px;
	margin-left: 100px;*/
	display: none;
}

.book.active {
	display: block;
}

.capa{
	margin-bottom: 50px;
	max-width: 300px;
	max-height: 300px;
	display: block;
	margin: auto;
	border-radius: 12px;
}

.capa1{
	margin-bottom: 50px;
	width: 200px;
	height: 300px;
	display: block;
	margin: auto;
	border-radius: 12px;
}

.corpus {
	text-align: center;
	margin: 10px;
	width: auto;
}

.buttons {
	width: 100%;
	display: none;
}

.results {
	margin-top: 100px;
	width: auto;
	align-content: center;
	text-align: center;
}
/*
.favorites {
	margin-top: 100px;
	width: auto;
	align-content: center;
	text-align: center;
}
*/
.col-centered{
	margin:10px auto;
	text-align: center;
	align-content: center;
}

.sites {
	width: 60%;
	max-height: 200px;
	display: flex;
	justify-content: center;
	text-align: center;
	cursor: pointer;
} 

.book:nth-child(1){
	display: block;
}

.btn {
	margin: 10px;
}

.glyphicon {
	margin: 5px;
	cursor: pointer;
}

#title {
	color:#ff8080;
	font-weight: bold;

}

h1 {
	font-size: 20pt;
	text-align: center;
	font-style: italic;
}

h2{
	font-size: 12pt;
	text-align: center;
	color: black;
	font-weight: bold;
}

.wikipediaimg {
	width: 90px;
	height: 90px;
	margin: 10px;
}

.goodreadsimg {
	width: 70px;
	height: 70px;
	margin: 20px;
}

.amazonimg {
	width: 70px;
	height: 70px;
	margin: 20px;
}

.googleplayimg {
	width: 70px;
	height: 70px;
	margin: 20px;
}


.book:not(:first-of-type) {
	/*display: none;*/
}

#counter1 {
	align-content: right;
	width: 100%;
	color: #47d147;
	font-size: 50px;
}

#counter2 {
	align-content: right;
	width: 100%;
	color: #ff471a;
	font-size: 50px;
}

#results {
	display:none;
}

#bookContainer {
	display: none;
}

#startPage{
	text-align: center;
	margin: 100px;
}

#startButton {
	align-content: center;
	border-radius: 8px;
	border:none;
	text-decoration: none;
	font-weight: bold;
	font-size: 30pt;
	color: #ff661a;
}

#g1 {
	align-content: center;
	font-size: 50px;
}

#g2 {
	align-content: center;
	font-size: 50px;
}

#t4 {
	font-size: 22pt;
	text-align: center;
	margin: 50px;
	color: black;
}

#t5 {
	font-size: 22pt;
	text-align: center;
	margin: 50px;
	color: black;
}

.footer {
	font-size: 10pt;
	font-style: italic;
	color: #2A2B2D;
	text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #bfbfbf;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}

input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 0.5px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.search {
	float: right;
}




/*
#repeatButton {
	font-size: 30px;
	border-radius: 8px;
	border:none;
	text-decoration: none;
	background:rgba(194, 197, 200, 0);
	color: #58585A;
}
*/


/* o icon da start page
http://www.flaticon.com/free-icon/books_167756#term=book&page=1&position=21 */
/* http://www.jswidget.com/lab/easy-comment.html */

/*.alignright  {
	/*float: right;
}*/

/*.alignleft {
	float: left;

}*/


